.header {
    padding: 15rem;
    grid-column: main-start / main-end;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-image:  linear-gradient(to right bottom, rgba($primary-dark, .95), rgba($primary-light, .9)), url(../img/hero.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    border-radius: 2rem;
    box-shadow: $shadow;
    transition: all .5s;

    &-visible {
        @include nav-visible;
    }

    @media only screen and (max-width: $bp-sm) {
        grid-column: nav-start / main-end;
    }
    
    @media only screen and (max-width: $bp-xs) {
        padding: 10rem;
    }

    @media only screen and (max-width: $bp-xxs) {
        padding: 5rem;
    }
    
    &__h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        &::after {
            height: 1rem;
            width: 1rem;
            bottom: 8px;
        }
    }

    &__p {
        font-size: 1.6rem;
        margin-bottom: 5rem;
    }

    &__buttons {
        display: flex;

        @media only screen and (max-width: $bp-xxs) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__btn:first-child {
        margin-right: 1rem;

        @media only screen and (max-width: $bp-xxs) {
            margin-right: 0;
            margin-bottom: 1.5rem;
        }
    }
}