.about {
  display: grid;
  grid-template-columns: repeat(
    4,
    [about__content-start] 1fr [about__content-end]
  );
  grid-gap: 5rem;

  @media only screen and (max-width: $bp-xs) {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #777;

    @media only screen and (max-width: $bp-xs) {
      width: 20%;
      justify-self: center;
    }

    @media only screen and (max-width: $bp-xxs) {
      width: 40%;
    }
  }

  &__content {
    grid-column: about__content-start 2 / about__content-end -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @media only screen and (max-width: $bp-xs) {
      grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-xxs) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    grid-column: 1 / -1;
    margin: 2rem 0;
  }

  &__detail {
    @media only screen and (max-width: $bp-xxs) {
      display: grid;
      grid-template-columns: 0.6fr 1fr;
    }

    &--answer {
      color: #000;
    }
  }

  &__buttons {
    grid-column: 1 / -1;
    display: flex;
    margin-top: 3rem;

    @media only screen and (max-width: $bp-xxs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn:first-child {
    margin-right: 1rem;

    @media only screen and (max-width: $bp-xxs) {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }
}

.skills {
  display: grid;
  grid-row-gap: 3rem;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-xxs) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-xxs) {
      padding: 2rem 0;

      &:last-child {
        grid-column: 1 / -1;
      }
    }
  }

  &__card-title {
    margin: 1rem 0;
  }

  &__card-list {
    list-style: none;
  }

  &__card-list-item {
    font-size: 1.3rem;
    font-family: $font-primary;
    color: #777;
    padding: 0.5rem 0;
  }
}

.experience {
  &__content {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
  }

  &__card-title-container {
    display: flex;
    justify-content: space-between;
  }

  &__card-company {
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__card-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.4rem;
    padding: 1rem 0;
    gap: 1rem;
    margin-left: 3rem;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    @media only screen and (max-width: $bp-sm) {
      grid-template-columns: 1fr;
      grid-gap: 3rem;
    }
  }

  &__item {
    max-width: 100%;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;
    height: fit-content;
  }

  &__item-img {
    width: 100%;
    transition: all 0.5s;
    filter: brightness(80%);
  }

  &__item-details {
    padding: 0 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba($primary-light, 0.95);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    align-items: center;
    transition: all 0.5s;
    backface-visibility: hidden;
    z-index: 5;

    @media only screen and (max-width: $bp-sm) {
      height: 12rem;
      padding-top: 2rem;
    }

    @media only screen and (max-width: $bp-xxs) {
      grid-column-gap: 3rem;
    }
  }

  &__item-details .h4 {
    justify-self: center;
    margin-top: 2rem;
    color: white;
    grid-column: 1 / -1;
    transition: all 0.5s;
    backface-visibility: hidden;

    @media only screen and (max-width: $bp-sm) {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    color: $accent-light;
    transition: all 0.5s;
    backface-visibility: hidden;
    text-decoration: none;
    align-self: center;
  }

  &__link:hover {
    color: $accent-dark;
    text-decoration: underline;
  }

  &__link {
    color: $accent-dark;
    font-size: 1.2rem;
    transition: all 0.5s;
    backface-visibility: hidden;

    @media only screen and (max-width: $bp-sm) {
      font-size: 1rem;
    }

    @media only screen and (max-width: $bp-xxs) {
      font-size: 0.8rem;
    }
  }

  .btn:not(.projects__btn) {
    position: relative;
    top: 200%;
    font-size: 1.2rem;
    padding: 0.8rem 2.5rem;
    justify-self: center;

    @media only screen and (max-width: $bp-sm) {
      top: 0;
    }

    @media only screen and (max-width: $bp-md) {
      font-size: 1rem;
      width: 70%;
    }

    @media only screen and (max-width: $bp-xxs) {
      width: 90%;
      padding: 0.5rem 1.5rem;
    }
  }

  &__btn {
    align-self: center;
  }

  @media only screen and (min-width: $bp-sm) {
    &__item:hover {
      img {
        filter: brightness(50%);
      }

      .projects__item-details {
        height: 80%;

        .h4 {
          margin-top: 4rem;
        }

        .btn {
          top: 0;
        }
      }
    }
  }
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 4rem;
  justify-items: stretch;

  @media only screen and (max-width: $bp-xxs) {
    grid-template-columns: 1fr;
  }

  &__account:link,
  &__account:visited {
    font-size: 2rem;
    font-family: $font-display;
    text-decoration: none;
    color: #fff;
    background-color: $accent-light;
    padding: 1rem 5rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s, background-color 0.3s;
    backface-visibility: hidden;
    border: 1px solid $accent-light;

    @media only screen and (max-width: $bp-xs) {
      font-size: 1.8rem;
      padding: 1.5rem 4rem;
    }

    @media only screen and (max-width: $bp-xxs) {
      width: 80%;
      justify-self: center;
    }
  }

  &__account--email:link,
  &__account--email:visited,
  &__account--phone:link,
  &__account--phone:visited {
    border: 1px solid $accent-light;
    font-size: 1.8rem;
    padding: 1rem 4rem;

    @media only screen and (max-width: $bp-xs) {
      font-size: 1.4rem;
      padding: 1.5rem 4rem;

      svg {
        display: none;
      }
    }
  }

  &__account:hover,
  &__account:active {
    background-image: none;
    border: 1px solid $accent-light;
    background-color: #fff;
    color: $accent-light;
  }

  &__account-icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    margin-right: 1rem;
  }

  &__h4 {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 4rem;
  }

  &__p {
    margin-top: -2.5rem;
    grid-column: 1 / -1;
    justify-self: center;
    color: #555;
  }
}
