.about {
    display: grid;
    grid-template-columns: repeat(4, [about__content-start] 1fr [about__content-end]);
    grid-gap: 5rem;

    @media only screen and (max-width: $bp-xs) {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }

    &__img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: 1px solid #777;

        @media only screen and (max-width: $bp-xs) {
            width: 20%;
            justify-self: center;
        }

        @media only screen and (max-width: $bp-xxs) {
            width: 40%;
        }
    }

    &__content {
        grid-column: about__content-start 2 / about__content-end -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        @media only screen and (max-width: $bp-xs) {
            grid-column: 1 / -1;
        }

        @media only screen and (max-width: $bp-xxs) {
            grid-template-columns: 1fr;
        }
    }

    &__text {
        grid-column: 1 / -1;
        margin: 2rem 0;
    }

    &__detail {

        @media only screen and (max-width: $bp-xxs) {
            display: grid;
            grid-template-columns: .6fr 1fr;
        }

        span {
            color: #000;
        }
    }

    &__buttons {
        grid-column: 1 / -1;
        display: flex;
        margin-top: 3rem;

        @media only screen and (max-width: $bp-xxs) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__btn:first-child {
        margin-right: 1rem;

        @media only screen and (max-width: $bp-xxs) {
            margin-right: 0;
            margin-bottom: 1.5rem;
        }
    }
}

.skills {
    display: grid;
    grid-row-gap: 3rem;

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3rem;

        @media only screen and (max-width: $bp-xxs) {
            grid-template-columns: 1fr;
            grid-row-gap: 5rem;

            .skill-background {
                display: none;
            }

            .skill-logo {
                display: block;
            }
        }
    }

    &__card {
        height: 23vw;
        width: 100%;
        perspective: 150rem;
        position: relative;
        backface-visibility: hidden;
        grid-template-rows: 1fr;
        backface-visibility: hidden;

        &:hover &-side--front {
            transform: rotateY(-180deg);
        }

        &:hover &-side--back {
            transform: rotateY(0deg);

            @media only screen and (max-width: $bp-xs) {
                transform: scale(1.05);
                box-shadow: $shadow-btn-active;
            }
        }

        &--html &-side--front {
            background-color: #fff4e0;
            border: .4rem solid orange;
            border-radius: 1rem;
        }

        &--css &-side--front {
            background-color: #d4d9ff;
            border: .4rem solid royalblue;
            border-radius: 1rem;
        }

        &--js &-side--front {
            background-color: #fdffd4;
            border: .4rem solid #e3b612;
            border-radius: 1rem;
        }

        &--html &-side--back {
            background-color: #fff4e0;
        }

        &--css &-side--back {
            background-color: #d4d9ff;
        }

        &--js &-side--back {
            background-color: #fdffd4;
        }

        @media only screen and (max-width: $bp-xxs) {
            height: 38vw;

            &--html &-side--back {
                border: .5rem solid orange;
                border-radius: 1rem;
            }

            &--css &-side--back {
                border: .5rem solid royalblue;
                border-radius: 1rem;
            }

            &--js &-side--back {
                border: .5rem solid #e3b612;
                border-radius: 1rem;
            }
        }
    }

    &__card-side {
        width: 100%;
        height: 23vw;
        transition: all .8s;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: $shadow;

        @media only screen and (max-width: $bp-xxs) {
            position: relative;
            backface-visibility: visible;
            height: 25vw;
        }


        &--front {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            @media only screen and (max-width: $bp-xs) {
                display: none;
            }

            img {
                height: 60%;
                width: auto;
            }
        }

        &--back {
            transform: rotateY(180deg);
            background-color: #fff7c7;

            @media only screen and (max-width: $bp-xs) {
                transform: rotateY(0);
                padding-bottom: 3rem;
                border: 2px solid transparent;
            }

            img {
                width: 100%;
            }

            ul {
                padding: 2rem 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    font-size: 1.2rem;
                }
            }

            @media only screen and (max-width: $bp-xxs) {
                display: grid;
                grid-template-columns: .7fr 1fr;
                padding: 1rem 1rem;
                height: 38vw;
            }

            .skill-logo {
                display: none;
                height: 80%;
                width: auto;
                align-self: center;
                justify-self: center;

                @media only screen and (max-width: $bp-xxs) {
                    display: block;
                }
            }
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    @media only screen and (max-width: $bp-sm) {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }

    &__item {
        max-width: 100%;
        box-shadow: $shadow;
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: $bp-sm) {
            height: 30rem;
        }

        @media only screen and (max-width: 400px) {
            height: 25rem;
        }
    }

    &__item-img {
        width: 100%;
        transition: all 0.5s;
        filter: brightness(80%);
    }

    &__item-details {
        padding: 0 2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background-color: #6b83fa;
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        align-items: center;
        transition: all 0.5s;
        backface-visibility: hidden;
        z-index: 5;

        @media only screen and (max-width: $bp-sm) {
            height: 40%;
        }

        @media only screen and (max-width: $bp-xxs) {
            grid-column-gap: 3rem;
        }
    }


    &__item-details .h4 {
        justify-self: center;
        margin-top: 2rem;
        color: white;
        grid-column: 1 / -1;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    .btn {
        position: relative;
        top: 200%;
        font-size: 1.2rem;
        padding: 0.8rem 2.5rem;
        justify-self: center;

        @media only screen and (max-width: $bp-sm) {
            top: 0;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 1rem;
            width: 70%;
        }

        @media only screen and (max-width: $bp-xxs) {
            width: 90%;
            padding: 0.5rem 1.5rem;
        }
    }

    @media only screen and (min-width: $bp-sm) {
        &__item:hover {
            img {
                filter: brightness(50%);
            }

            .projects__item-details {
                height: 80%;

                .h4 {
                    margin-top: 4rem;
                }

                .btn {
                    top: 0;
                }
            }
        }
    }

}

.contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 4rem;
    justify-items: stretch;

    @media only screen and (max-width: $bp-xxs) {
        grid-template-columns: 1fr;
    }


    &__account:link,
    &__account:visited {
        font-size: 2rem;
        font-family: $font-display;
        text-decoration: none;
        color: #fff;
        background-color: $tertiary-light;
        padding: 1rem 5rem;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .5s, background-color .3s;
        backface-visibility: hidden;

        @media only screen and (max-width: $bp-xs) {
            font-size: 1.8rem;
            padding: 1.5rem 4rem;
        }

        @media only screen and (max-width: $bp-xxs) {
            width: 80%;
            justify-self: center;
        }
    }

    &__account--email:link,
    &__account--email:visited,
    &__account--phone:link,
    &__account--phone:visited {
        font-size: 1.8rem;
        padding: 1rem 4rem;

        @media only screen and (max-width: $bp-xs) {
            font-size: 1.4rem;
            padding: 1.5rem 4rem;


            svg {
                display: none;
            }
        }
    }

    &__account:hover,
    &__account:active {
        background-image: none;
        background-color: #fff;
        color: $tertiary-light;
        transform: scale(1.15);
    }

    &__account-icon {
        height: 2rem;
        width: 2rem;
        fill: currentColor;
        margin-right: 1rem;
    }

    &__h4 {
        grid-column: 1 / -1;
        justify-self: center;
        margin-top: 4rem;
    }

    &__p {
        margin-top: -2.5rem;
        grid-column: 1 / -1;
        justify-self: center;
        color: #555;
    }

    .form {
        padding: 0 14rem;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: .3fr 1fr;
        grid-gap: 2.5rem;
        align-items: center;

        @media only screen and (max-width: $bp-xs) {
            grid-template-columns: 1fr;
            grid-gap: 1.5rem;
            padding: 0 8rem;
        }

        @media only screen and (max-width: $bp-xxs) {
            padding: 0 3rem;
        }

        &__label {
            font-size: 1.5rem;
            color: #555;

            @media only screen and (max-width: $bp-xs) {
                display: none;
            }
        }

        &__input {
            outline: none;
            border: 1px solid #ccc;
            border-radius: 10rem;
            background-color: #fff;
            padding: 1.2rem 2rem;
            transition: box-shadow .3s;
            font-size: 1.2rem;

            &:placeholder-shown {
                font-family: $font-primary;
                font-size: 1.1rem;
                color: #777;
            }

            &:focus {
                box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
            }
        }

        &__textarea {
            resize: none;
            font-family: $font-primary;
            font-size: 1.1rem;
        }

        &__submit {
            border: none;
            padding: 1.5rem 3rem;
            cursor: pointer;
            grid-column: 1 / -1;
            justify-self: center;
            outline: none;
        }
    }
}